@import '../../assets/colors.scss';

$bgColor: #222224;
$textColor: rgba(255, 255, 255, .9);

.nav{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 3px;
    border-radius: 0 0 5px 5px;
    // width: 100%;
    
}

.wrapper{
    background-color: $bgColor;
    padding: 20px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    -webkit-tap-highlight-color:  rgba(255, 255, 255, 0); 
    cursor: pointer;
    transition: .3s all linear;
    color: $textColor;
    text-align: center;
    user-select: none;
    &:hover{
        transform: translateY(-20px);
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
        background-color: #9191914a;
    }
}

.wrapperNone{
    background-color: $bgColor;
    user-select: none;
    padding: 20px;
    height: 80px;
    text-align: center;
    display: flex;
    -webkit-tap-highlight-color:  rgba(255, 255, 255, 0); 
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    cursor: pointer;
    transition: .3s all linear;
    color: $blockColor;
    transform: translateY(-20px);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    background-color: rgba(255, 215, 0, .9);
}


@media (max-width: 700px){
    .wrapper, .wrapperNone{
        height: 50px;
        font-size: 12px;
    }
}

@media (max-width: 380px){
    .nav{
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
    }
    .wrapper, .wrapperNone{
        height: 50px;
        font-size: 12px;
    }
    .wrapperNone{
        transform: translateY(0);
    }
}