@import '../../assets/colors.scss';


@keyframes anim {
    0%{
        opacity: 0;
        filter: blur(5px);

    }
    50%{
        opacity: 1;
        filter: blur(0);

    }
    80%{
        opacity: 1;
        filter: blur(0);

    }
    100%{
        opacity: .1;
        filter: blur(5px);

    }
}

$bgColor: rgba(17, 17, 17, .9);
$textColor: $backgroundColor;

.main{
    // border: 1px solid #fff;
    // margin-top: 5px;
    padding: 10px;
    color: $textColor;
    opacity: 0;
    filter: blur(5px);
    // padding-right: 50px;
    position: relative;
    height: 80vh;
    box-shadow: $blockShadow;
    position: relative;
    background-color: $blockColor;
    border-radius: 5px;
    margin-bottom: 60px;
    overflow: hidden;
    display: flex;
    max-height: 676px;

    animation-name: anim;
    animation-timing-function: ease-in-out;
    view-timeline-name: --fade-in-image;
    animation-timeline: --fade-in-image;
    animation-range: 10% 90%;
    animation-fill-mode: forwards;
    // animation-timeline: scroll();
    // animation-range: 0 700px;
    // justify-content: right;
}

.title{
    position: absolute;
    top: -29px;
    left: 30px;
    text-transform: uppercase;
    font-weight: 800;
    font-size: 80px;
    color: #fff;
    user-select: none;
    pointer-events: none;
}

.content{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    padding: 0 15px;
    padding-bottom: 0;
}

.contentChoiceWrapper{
    background-color: transparent;
    display: flex;
    position: relative;
    height: 50vh;
    transform: translateY(-20px);
}
