@import '../../assets/colors.scss';


.wrapper{
    display: flex;
    width: 100%;
    align-items: center;
    padding: 10px;
    position: relative;
}

.glitch{
    position: absolute;
    top: -50px;
    right: 40px;
    font-weight: 300;
    text-transform: uppercase;
    opacity: .3;
    font-size: 32px;
    overflow: hidden;
    background: linear-gradient(90deg, #000, #fff, #000);
    background-repeat: no-repeat;
    background-size: 80%;
    animation: animate 3.5s linear infinite;
    background-clip: text;
    user-select: none;
    pointer-events: none;
    -webkit-background-clip: text;
    -webkit-text-fill-color: rgba(255, 255, 255, 0);
}
@keyframes animate {
    0% {
      background-position: -500%;
    }
    100% {
      background-position: 500%;
    }
  }

.image{
    width: auto;
    height: 100%;
    border-radius: 5px;
    user-select: none;
    position: relative;
    pointer-events: none;
}

.arrow{
  position: absolute;
  bottom: -10px;
  // left: 30px;
  display: none;
  right: 30px;
  transform: rotateZ(-90deg);
}

@media (max-width:1100px) {
  .arrow{
    display: flex;
  }
}

@media (max-width:900px) {
  .glitch{
    margin-top: 40px;
    font-size: 24px;
  }
}
@media (max-width:540px) {
  .glitch{
    margin-top: 30px;
    font-size: 18px;
    left: 30px;
  }
}
@media (max-width:540px) {
  .glitch{
    font-size: 14px;
    left: 30px;
  }
}

@media (max-width: 435px){
  .arrow{
    bottom: -65px;
  }
}

@media (max-width: 365px) {
  .wrapper{
    padding: 0;
    
  }
  .glitch{
    margin-bottom: 10px;
  }
  .arrow{
    bottom: -50px;
  }
}