

$backgroundColor: #222224;
$white: #fff;

$blockColor: rgba(17, 17, 17, .9);
$blockShadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
$blockShadowOff: rgba(0, 0, 0, 0) 0px 5px 15px;

$particleColor: #e7c301;
